:root {
    --body-text-color: #212121;
    --primery-text-color: #757575;
    --main-background-color: #FFFFFF;
    --second-background-color: #F5F4FA;
    --dark-background-color: #2F303A;
    --akcent-text-color: #2196F3;
    --stylistic-color: rgba(255, 255, 255, 0.6);
}

/* цвет основного текста черный #212121 */
/* цвет вторичного текста серый  #757575 */
/* цвет фона вторичный #F5F4FA */
/* белый цвет фона #FFFFFF */
/* цвет акцента синий #2196F3 */
/* основгой цвет фона #E5E5E5 */

/* страница */
.page {

    color: var(--main-background-color);
    color: var(--primery-text-color);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* лого */
.logo,
.logo:focus {
    color: #000000;
    text-decoration-line: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-text {
    color: var(--akcent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

/* сайт навигация */
.site-nav {
    list-style: none;
}

.nav-link {
    color: var(--body-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--akcent-text-color);
}

/* контакты */
.contact {
    list-style: none;
}

.contact-link {
    color: var(--primery-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--akcent-text-color);
}

/* герой */
.hero {
    background: var(--dark-background-color);
}

.hero-title {
    color: var(--main-background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    background: var(--akcent-text-color);
    color: var(--main-background-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* описание */
.description-list {
    list-style: none;
}

.description-title {
    color: var(--body-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}

.description-item {
    font-size: 14px;
    line-height: 1.7;

}

/* занятие */
.lessons-title {
    color: var(--body-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.lessons-list {
    list-style: none;
}

/* команда */
.team {
    background: var(--second-background-color);

}

.team-title {
    color: var(--body-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.team-list {
    list-style: none;
}

.team-name {
    color: var(--body-text-color);
}

.team-position {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2
}

/* футер */
.footer {
    background: var(--dark-background-color);
}

.logo-footer {
    text-decoration-line: none;
    color: var(--main-background-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.address-list {
    list-style: none;
}

.address {
    text-decoration-line: none;
    color: var(--main-background-color);
    font-size: 14px;
    line-height: 1.7;
}

.address:hover,
.address:focus {
    color: var(--akcent-text-color);
}

.contact-footer {
    text-decoration-line: none;
    color: var(--stylistic-color);
    font-size: 14px;
    line-height: 1.7;
}

.contact-footer:hover,
.contact-footer:focus {
    color: var(--akcent-text-color);


}

/* портфолио */
.button-list {
    list-style: none;
}

.button-item {
    background: var(--second-background-color);
    color: var(--body-text-color);
    cursor: pointer;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.button-item:hover,
.button-item:focus {
    background: var(--akcent-text-color);
    color: var(--main-background-color);
}

/* галерея */
.galery-list {
    list-style: none;
}

.galery-link {
    text-decoration-line: none;
    color: var(--primery-text-color);
}

.galery-title {
    text-decoration-line: none;
    color: var(--body-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}